.ek5CustomButton { 
    padding: 2px 8px;
    border: 1px solid #97063c;
    color: #97063c;
    border-radius: 4px;
    background:inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 13px;
}
.ek5CustomButton:hover{
    background: #97063c;
    color: white;
    cursor:pointer;
}
.ek5CustomButton:active{
    background: #4e0520;
    border: 1px solid #4e0520;
}
.ek5CustomButtonGray{
    border: 1px solid #4a4446;
    color: #4a4446;
    cursor: inherit;
}
.customModal{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: grid;
    place-items: center;
}
.customModal > dialog{
    margin: auto;
    padding: 20px;
    border: 0;
    box-shadow: 0 8px 16px rgba(8,35,48,.2);
    width: 440px;
}
#searchthing {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    max-height: 60vh;
    overflow-y: scroll;
    padding: 6px;
    border: 1px solid #919699;
    border-radius: 4px;
    overflow: auto;
    margin-bottom: 8px;
}
#searchthing > div {
    display: grid;
    grid-template-columns: auto max-content max-content;   
}
#searchthing > div > button {
    background-color: #069697;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #069697;
    border-radius: 4px;
    width: 24px;
    height: 24px;
}

#searchthing > div > button > span{
    filter: grayscale(1) contrast(3);
}
.modalHeader{
    display:grid;
    grid-template-columns: auto max-content max-content;
    gap: 6px;
}
.searchHistoryBold{
    font-weight: 500;
}
.searchHistoryInfo{
    font-size: 1.2rem;
}
.searchHistoryDate{
    opacity: 0.7;
    cursor: default;
    margin-right: 5px;
    line-height: 1.5;
}
.cdekDialogButton{
    color: #069697;
    border: 1px solid #069697;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 16px;
    gap: 7px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    background: inherit;
}
#clearHistory:hover, #closeDialog:hover, #searchthing > div > button:hover {
    background-color: #80cbc4;
    border-color: #80cbc4;
    color: white;
}
#closeDialog{
    width: 22px;
    background-color: #069697;
    color: white;
}
.orderPlace {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 4px;
    height: 100%;
    border-left: #c6cacc 1px solid;
}
.orderPlace:hover{
    text-decoration: none;
}